
    <h1 >To Do List</h1>

    <%= form_with(model: Todo.new, class: "my-10") do |form| %>
      <div class="my-5 ">
        
        <%= form.text_field :description, placeholder: "New Task", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      
        <%= form.submit class: "rounded-lg py-2 px-3 bg-blue-500 text-black inline-block font-medium cursor-pointer" %>
      </div>
    <% end %>

    <h3>Task List</h3>

    <table class="w-full mt-10 border-separate table-auto text-slate-500 mx-auto">
      <tbody>
        <% @todos.each do |todo| %>
          <tr style="border: 1px solid #ccc;  border-radius: 8px;" class="bg-light px-3 py-1">

<td class="px-3 py-1" style="padding: 10px; border-radius: 8px 0 0 8px;" >
              <%= form_with(model: todo, url: todo_path(todo), method: :patch, local: true) do |form| %>
                <%= check_box_tag "todo[is_done]", "1", todo.is_done, onchange: "this.form.submit();" %>
                <%= hidden_field_tag "todo[id]", todo.id %>
              <% end %>
            </td>
            <td style="text-decoration: <%= todo.is_done ? 'line-through' : 'none' %>; padding: 10px;">
              <%= todo.description %>
            </td>
            
            <td class="px-3 py-1 text-sm font-normal text-left text-red-600 underline break-words " style="padding: 10px; border-radius: 0 8px 8px 0;">
              <%= button_to "Delete", todo_path(todo), method: :delete %>
            </td>
          </tr>
          <tr><td></td></tr>
        <% end %>
      </tbody>
    </table>

    <div class="counter-container mt-2">
      <div id="task-counters" >
        Completed: <span id="completed-counter"><%= @completed_count %></span> | Uncompleted:
        <span id="uncompleted-counter"><%= @uncompleted_count %></span>
      </div>
      <p class="mt-3">Log In as <%= @user.username %>! <%= link_to "Logout", logout_path %></p>
    
 